/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/behaviors.h>

#include <locale/keys_da.h> // https://github.com/joelspadin/zmk-locales/blob/main/include/locale/keys_da.h

#define ALPHA 0
#define NAV 1
#define SYM 2
#define NUM 3
#define SYSTEM 4    // Bluetooth, system settings, etc.
#define AK_GHT 5    // Adaptive key layer

// Corne key positions
// Left Half                                           Right Half
// ------------------------------------------------    -------------------------------------------
// [ 0  ] [ 1  ] [ 2  ] [ 3  ] [ 4  ] [ 5  ] [ 6  ]    [ 7  ] [ 8  ] [ 9  ] [ 10 ] [ 11 ] [ 12 ] [ 13 ]
// [ 14 ] [ 15 ] [ 16 ] [ 17 ] [ 18 ] [ 19 ] [ 20 ]    [ 21 ] [ 22 ] [ 23 ] [ 24 ] [ 25 ] [ 26 ] [ 27 ]
// [ 28 ] [ 29 ] [ 30 ] [ 31 ] [ 32 ] [ 33 ]                  [ 34 ] [ 35 ] [ 36 ] [ 37 ] [ 38 ] [ 39 ]
//                      [ 40 ] [ 41 ] [ 42 ]                  [ 43 ] [ 44 ] [ 45 ]
#define KEYS_L 0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33
#define KEYS_R 7 8 9 10 11 12 13 21 22 23 24 25 26 27 34 35 36 37 38 39
#define KEYS_T 40 41 42 43 44 45


#define COMBO_TERM 25

#define HM_TAPPING_TERM 280
#define HM_TAPPING_TERM_FAST 175
#define HM_PRIOR_IDLE 150

// https://github.com/urob/zmk-config#troubleshooting
// Noticeable delay when tapping HRMs: Increase require-prior-idle-ms. As a rule of thumb, you want to set it to at least 10500/x where x is your (relaxed) WPM for English prose.
// False negatives (same-hand): Reduce tapping-term-ms (or disable hold-trigger-key-positions)
// False negatives (cross-hand): Reduce require-prior-idle-ms (or set flavor to hold-preferred -- to continue using hold-trigger-on-release, you must apply this patch to ZMK
// False positives (same-hand): Increase tapping-term-ms
// False positives (cross-hand): Increase require-prior-idle-ms (or set flavor to tap-preferred, which requires holding HRMs past tapping term to activate)


/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_aa {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            key-positions = <9 23>;
            bindings = <&kp DA_A_RING>;
        };
        combo_ae {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            key-positions = <9 10>;
            bindings = <&kp DA_AE>;
        };
        combo_oe {
            timeout-ms = <COMBO_TERM>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            key-positions = <10 24>;
            bindings = <&kp DA_O_SLASH>;
        };
    };
};

/ {
    macros {
        bt_rgb_0: bt_rgb_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&rgb_ug RGB_COLOR_HS_VAL(36, 75, 50)>;
        };
        bt_rgb_1: bt_rgb_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&rgb_ug RGB_COLOR_HS_VAL(108, 75, 50)>;
        };
        bt_rgb_2: bt_rgb_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&rgb_ug RGB_COLOR_HS_VAL(180, 75, 50)>;
        };
        bt_rgb_3: bt_rgb_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&rgb_ug RGB_COLOR_HS_VAL(252, 75, 50)>;
        };
        bt_rgb_4: bt_rgb_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&rgb_ug RGB_COLOR_HS_VAL(324, 75, 50)>;
        };
    };
};

/ {
    behaviors {
        // System Hold
        sys_lt: system_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <2000>;   // Hold key for 2+ seconds to switch to layer
            bindings = <&mo>, <&kp>;
        };

        // Homerow Modifiers
        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <HM_TAPPING_TERM_FAST>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_R KEYS_T >; // Trigger hold when pressed with keys on opposite hand and thumb keys
            hold-trigger-on-release;
        };
        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <HM_TAPPING_TERM_FAST>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_L KEYS_T >; // Trigger hold when pressed with keys on opposite hand and thumb keys
            hold-trigger-on-release;
        };

        // Qu key
        qu_macro: qu_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Q &kp U>;
        };

        qu_q: q_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <HM_TAPPING_TERM>;
            bindings = <&kp>, <&qu_macro>;
        };

        // Undead keys. Press space after a dead key.
        undead: undead_macro {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>; // Must be 1
            bindings = <&macro_param_1to1>, <&macro_tap &kp MACRO_PLACEHOLDER &kp SPACE>;
        };

        // Adaptive keys
        // GHG -> GHT
        ak_H: ak_H {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&kp H>;
            ak_GHT_to_GHG {
                trigger-keys = <G>;
                // press H followed by enabling the adaptive behavior for G by switching to AK_GHT for one press (sticky layer).
                bindings = <&kp H &sl AK_GHT>;
            };
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha_layer {
            bindings = <
                &sys_lt SYSTEM ESC &kp X       &kp P       &kp D         &kp M         &kp K &kp C_MUTE            &kp C_VOL_UP &kp DA_MINUS &kp U        &kp O        &kp Y       &kp Z       &sys_lt SYSTEM ESC
                &qu_q Q 0          &hml LGUI S &hml LALT N &hml LCTRL T  &hml LSHFT L  &kp F &kp C_PP              &kp C_VOL_DN &kp COMMA    &hmr LSHFT A &hmr LCTRL E &hmr LALT I &hmr LGUI C &kp W
                &kp TAB            &kp V       &kp B       &kp G         &ak_H         &kp J                                    &kp DA_EQUAL &kp DOT      &kp BSPC     &kp DA_FSLH &kp DA_SQT  &kp DEL
                                                           &caps_word    &lt NUM UNDER &lt NAV SPACE                            &lt SYM R    &kp RET      &kp ESC
            >;
        };

        navigation_layer {
            bindings = <
                &trans &kp F1    &kp F2    &kp F5    &kp F6    &kp F12   &rgb_ug RGB_OFF        &rgb_ug RGB_BRI &kp LA(F12)  &kp PG_UP &kp UP   &kp PG_DN &kp LC(DA_AE)  &trans
                &none  &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT &kp LC(A) &rgb_ug RGB_TOG        &rgb_ug RGB_BRD &kp LS(F12)  &kp LEFT  &kp DOWN &kp RIGHT &kp LC(DA_SQT) &none
                &trans &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &kp LC(Y)                                        &kp LA(LEFT) &kp HOME  &trans   &kp END   &kp LA(RIGHT)  &trans
                                                     &trans    &trans    &trans                                 &trans       &trans    &kp F11
            >;
        };

        symbol_layer {
            bindings = <
                &trans &kp DA_CURREN     &kp DA_LT    &kp DA_GT   &kp DA_DQT   &undead DA_GRAVE &none            &none &kp DA_AMPS &kp DA_RPAR  &kp DA_LBRC &kp DA_RBRC &kp DA_PRCNT &trans
                &none  &kp DA_EXCL       &kp DA_MINUS &kp DA_PLUS &kp DA_EQUAL &kp DA_HASH      &none            &none &kp DA_SEMI &kp DA_LPAR  &kp DA_LBKT &kp DA_RBKT &kp DA_QMARK &none
                &trans &undead DA_CARET  &kp DA_FSLH  &kp DA_STAR &kp DA_BSLH  &undead DA_TILDE                        &kp DA_PIPE &kp DA_COLON &trans      &kp DA_DLLR &kp DA_AT    &trans
                                                      &trans      &trans       &kp SPACE                               &trans      &trans       &none
            >;
        };

        number_layer {
            bindings = <
                &trans &none &kp DA_LBKT  &kp DA_RBKT &none        &none &none            &none &none     &kp N7 &kp N8 &kp N9 &none   &trans
                &none  &none &kp DA_MINUS &kp DA_PLUS &kp DA_EQUAL &none &none            &none &kp COMMA &kp N4 &kp N5 &kp N6 &kp DOT &none
                &trans &none &kp DA_FSLH  &kp DA_STAR &kp DA_COLON &trans                       &none     &kp N1 &kp N2 &kp N3 &none   &trans
                                          &none       &trans       &kp SPACE                    &kp N0    &trans &none
            >;
        };

        system {
            bindings = <
                &trans &bt_rgb_0     &bt_rgb_1     &bt_rgb_2     &bt_rgb_3     &bt_rgb_4     &rgb_ug RGB_OFF        &rgb_ug RGB_BRI  &rgb_ug RGB_EFF &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_SPI &none  &trans
                &none  &none         &none         &none         &none         &none         &rgb_ug RGB_TOG        &rgb_ug RGB_BRD  &none           &none           &none           &none           &none  &none
                &none  &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4                                         &rgb_ug RGB_EFR &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_SPD &none  &bt BT_CLR
                                                   &bootloader   &sys_reset    &out OUT_USB                                          &out OUT_BLE &reset &bootloader
            >;
        };

        adaptive_ght_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans           &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans           &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &kp T  &trans &trans                         &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans                         &trans &trans &trans
            >;
        };
    };
};
